<template>
  <div id="app">
    <headerComponent></headerComponent>
    <main class="wrapper content">
      <h1>{{ title }}</h1>
      <graph :points=data></graph>
    </main>
  </div>
</template>

<script>
import graph from './components/Graph.vue'
import headerComponent from './components/HeaderComponent.vue'
import axios from 'axios';
export default {
  name: 'app',
  components: {graph, headerComponent},
  data () {
    return {
      title: 'Energy Plans Comparision',
      data: null
    }
  },
  mounted () {
    axios.get('./src/db/prices.json')
    .then(respuesta => {
      this.data = respuesta.data;
    })
  }
}
</script>

<style lang="scss">
  $max-width: 1220px;
  $bg-color: #eee;

  *{
    box-sizing: border-box;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  body{
    background-color: $bg-color;
  }

  .wrapper{
    max-width: $max-width;
    margin: 0 auto;
    padding: 32px 20px;
    width: 100%;
  }

  .content{
    margin-top: 108px;
  }

</style>
