$sizeNames: 'big', 'medium', 'small';
$sizesValue: 116, 86, 71;
$xAxisSeparation: 20;
$yAxisSeparations: 0, 26, 23;
$unit: 'px';
$spriteUrl: '../hl-icon-sprites.svg';
$iconNames: (
  'freedom',
  'light',
  'paper',
  'building',
  'borrar',
  'shop',
  'electricity',
  'search',
  'safe',
  'distributors',
  'borrar2',
  'nps',
  'talk',
  'idea'
);

a.icon {
  background-image: url($spriteUrl);
  color: transparent;
  display: inline-block;
  font-size: 0px;
  @for $iconIdx from 1 through length($iconNames) {
    @for $sizeIdx from 1 through length($sizeNames) {
      &.#{nth($sizeNames, $sizeIdx)}-#{nth($iconNames, $iconIdx)} {
        width: unquote(nth($sizesValue, $sizeIdx) + $unit);
        height: unquote(nth($sizesValue, $sizeIdx) + $unit);
        background-position: unquote(
          -(
              ($iconIdx - 1) *
                $xAxisSeparation +
                (nth($sizesValue, 1)) *
                ($iconIdx - 1)
            ) +
            $unit +
            ' ' + -(
              nth($yAxisSeparations, $sizeIdx) +
                (nth($sizesValue, 1)) *
                ($sizeIdx - 1)
            ) +
            $unit
        );
      }
    }
  }
}
