<template>
    <div id="graph" class="block-width">
        <span v-if="!points">
            Downloading...
        </span>
    </div>
</template>
<script>
import * as d3 from 'd3';
import * as c3 from 'c3';
export default {
    name: 'graph',
    props: ['points'],
    methods: {
        processData() {
            const lines = [];
            const xs = [];
            if(this.points){
                Object.keys(this.points).map((lineKey, index) => {
                    const xsLine = ['x'+(index+1)];
                    const arrayLine = [lineKey];
                    const xAxisPoints = this.points[lineKey];
                    xAxisPoints.forEach(interval => {
                        Object.keys(interval).map((objectKey, index) => {
                            const intervalPoints = objectKey.split('-').map(interval => parseInt(interval, 10));
                            xsLine.push(...intervalPoints);
                            arrayLine.push(interval[objectKey],interval[objectKey]);
                        });
                    });
                    xs.push(xsLine);
                    lines.push(arrayLine);
                });
                this.processedData = lines;
                this.axis = xs;
            }
        }
    },
    updated: function() {
            this.processData();
            const axis = {};
            const lines = [...this.axis, ...this.processedData];
            this.processedData.forEach((line, index) => {
                axis[line[0]] = this.axis[index][0];
            });
            console.log(axis);
            var chart = c3.generate({
                bindto: '#graph',
                
                data: {
                    xs: axis,
                    columns: lines
                }
            });
    },
    data () {
        return {
            processedData: null,
            axis: null
        }
    }
}
</script>
<style lang="scss">
    .c3 path, .c3 line {
        fill: none;
        stroke: #000;
    }
    .block-width, .block-width svg{
        max-width: 100%;
    }
</style>
