<template>
    <header>
        <div class="wrapper">
            <a href="//holaluz.com" class="header-logo">
            <img src="../assets/images/header-sprite.svg">
            </a>
            <a class="btn btn-gradient" href="tel:600579582">Llamar</a>
        </div>
    </header>
</template>
<script>
    export default {
        name: 'headerComponent'
    }
</script>
<style lang="scss">
    $white: #FFF;
    header{
        background-color: $white;
        position: fixed;
        top:0;
        width: 100%;
        .wrapper{
            display: flex;
            justify-content: space-between;
        }
        .#{&}-logo{
            display: inline-block;
            overflow: hidden;
            width: 141px;
        }
    }
    .btn{
        display: inline-block;
        margin: 0;
        padding: 10px 30px 13px 30px;
        vertical-align: middle;
        border: 2px solid transparent;
        background: #E6007D;
        cursor: pointer;
        background-image: none;
        font: normal 400 18px/1.3em "CiutadellaSemiBold", sans-serif;
        text-align: center;
        text-decoration: none;
        color: white;
        user-select: none;
        transition: all 0.5s;
        &-gradient{
            background-image: linear-gradient(to right, #E6007D 0%, #FFDC00 51%, #E6007D 100%);
            background-size: 200% auto;
            color: white;
            &:hover {
                background-position: right center;
            }
        }
    }
</style>
